@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

body {
    background-color: rgba(255, 167, 229, 0.438);
    animation-name: back;
  animation-duration: 5s;
}

@keyframes back {
    0%   {background-color: rgb(104, 104, 104);}
    50%  {background-color: rgb(179, 139, 219);}
    100% {background-color: rgb(224, 182, 228);}
  }

.recipe-heading {
    text-align: center;
    color: rgb(71, 7, 42);
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    position: relative; 
    animation: header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes header {
    0% {top: -250px}
    100% {top: 45px}
}

.ingridients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image {
    opacity: 0;
    display: block;
    margin: 0 auto;
  width: 150px;
  animation: img;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes img {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.ingridients-table {
    opacity: 0;
    border: 2px solid black;
    margin: 0 auto;
    color: rgb(7, 70, 7);
    font-size: large;
    animation: ingridients;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes ingridients {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.instructions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    font-size: large;
    animation: textRight;
    animation-duration: 4s;
    position: relative;
}

@keyframes textRight {
    0% {right: -1000px;}
    85% {right: 50px;}
    100% {right: 0;}
}

.instructions ol {
    border: 1px solid black;
    margin: 0 auto;
    width: 90%;
    color: rgb(7, 65, 7);
}

.footer {
    color: rgb(71, 7, 42);
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1rem
}